.label {
  &-header {
    height: 56px;
    padding: 6px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px 0px #DADFE6;

    &-left {
      display: flex;
      align-items: center;

      &-title {
        width: 72px;
        height: 44px;
        font-family: MicrosoftYaHei, MicrosoftYaHei;
        font-weight: bold;
        font-size: 24px;
        color: #202D40;
        line-height: 44px;
        text-align: left;
        font-style: normal;
      }

      &-divide {
        margin-left: 24px;
        margin-right: 32px;
        width: 1px;
        height: 32px;
        background: #DADFE6;
      }

      &-tabs {
        margin-top: 17px;
      }
    }

    &-right {
      &-action {
        .btn-link {
          span {
            margin-left: 4px;
            width: 56px;
            height: 22px;
            margin-right: 16px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #606C80;
            line-height: 22px;
            text-align: left;
            font-style: normal;
          }
        }

        .btn-default {
          padding: 4px 20px;
          margin-right: 16px;
          width: 96px;
          height: 32px;
          border-radius: 3px;
          border: 1px solid #DCDEE1;
          
          span {
            width: 56px;
            height: 22px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #687181;
            line-height: 22px;
            text-align: center;
            font-style: normal;
          }
        }

        .btn-action, .btn-action:hover {
          padding: 4px 20px 6px 20px;
          box-sizing: border-box;
          height: 32px;
          background: #202D40 !important;
          border-radius: 3px;

          span {
            width: 56px;
            height: 22px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 22px;
            text-align: center;
            font-style: normal;
          }
        }
      } 
    }
  }

  &-search {
    height: 64px;
    padding: 16px 24px;
    background: rgba(252,252,252,0.98);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(0,0,0,0.08);
  
    &-input {
      width: 280px;
      height: 32px;
      background: #FFFFFF;
      border-radius: 2px;
      border: 1px solid #D9D9D9;
    }
  }
}