.container {
  width: calc(100vw - 64px);
  overflow-x: hidden;

  &-header {
    padding: 14px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px 0px #DADFE6;

    &-left {
      display: flex;
      align-items: center;

      &-icon {
        .icon-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          background: #FFFFFF;
          border-radius: 50%;
          box-shadow: 0px 0px 6px 0px rgba(22,26,34,0.17); 
        }
      }

      &-title {
        margin-left: 16px;
        margin-right: 24px;
        height: 44px;
        font-family: MicrosoftYaHei, MicrosoftYaHei;
        font-weight: bold;
        font-size: 24px;
        color: #202D40;
        line-height: 44px;
        text-align: left;
        font-style: normal;
      }

      &-description {
        display: flex;
        align-items: center;

        .description-title {
          margin-right: 16px;
          height: 20px;
          font-family: MicrosoftYaHei;
          font-size: 14px;
          color: #687181;
          line-height: 20px;
          text-align: right;
          font-style: normal;
        }

        .description-content {
          height: 20px;
          font-family: MicrosoftYaHei;
          font-size: 14px;
          color: #202D40;
          line-height: 20px;
          text-align: left;
          font-style: normal;
          overflow: hidden; /* 限制内容超出部分不显示 */
          white-space: nowrap; /* 防止内容换行 */
          text-overflow: ellipsis; /* 文本溢出时显示省略号 */
          width: 700px; /* 设置一个最大宽度，根据实际情况调整 */
        }
      }
    }

    &-right {
      &-action {
        display: flex;
        align-items: center;

        .btn-link {
          span {
            margin-left: 4px;
            width: 56px;
            height: 22px;
            margin-right: 16px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #606C80;
            line-height: 22px;
            text-align: left;
            font-style: normal;
          }
        }

        .btn-default {
          padding: 4px 20px;
          margin-right: 16px;
          width: 96px;
          height: 32px;
          border-radius: 3px;
          border: 1px solid #DCDEE1;
          
          span {
            width: 56px;
            height: 22px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #687181;
            line-height: 22px;
            text-align: center;
            font-style: normal;
          }
        }

        .btn-action, .btn-action:hover {
          padding: 4px 20px 6px 20px;
          box-sizing: border-box;
          height: 32px;
          background: #202D40 !important;
          border-radius: 3px;

          span {
            width: 56px;
            height: 22px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 22px;
            text-align: center;
            font-style: normal;
          }
        }
      } 
    }
  }

  &-content {
    display: flex;

    &-tree {
      padding: 0 12px;
      box-sizing: border-box;
      width: 240px;
      height: calc(100vh - 88px);
      background: #FFFFFF;
      // border-bottom: 1px solid #e5e7eb;
      // box-shadow: inset -1px 0px 0px 0px #DADFE6;

      .tree-title {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        span {
          display: inline-flex;
          height: 24px;
          font-family: MicrosoftYaHei, MicrosoftYaHei;
          font-weight: bold;
          font-size: 16px;
          color: #202D40;
          line-height: 24px;
          text-align: left;
          font-style: normal;
        }

        &-btn {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: #0052D9;

          &:hover {
            background: #0047B3 !important;
            border: 1px solid #0047B3 !important;
          }
        }
      }

      .tree-search {
        margin-bottom: 12px;
      }
    }

    &-main {
      width: calc(100% - 240px);
      border-left: 1px solid #e5e7eb;
      box-sizing: border-box;

      .main-title {
        padding: 12px 18px 16px 18px;
        height: 48px;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px 0px #DADFE6;

        a {
          height: 20px;
          font-family: MicrosoftYaHei;
          font-size: 14px;
          color: #0052D9;
          line-height: 20px;
          text-align: left;
          font-style: normal;
        }
      }

      .main-table {
        padding: 0;
        width: 100%;
        height: calc(100vh - 88px);
      }
    }
  }
}

.add-classify {
  background: #FFFFFF;
  box-shadow: 0px 0px 0px 0px rgba(19,22,26,0.25);
  box-sizing: border-box;

  &-title {
    height: 64px;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 24px;
    box-sizing: border-box;

    span {
      width: 64px;
      height: 24px;
      font-family: MicrosoftYaHei, MicrosoftYaHei;
      font-weight: bold;
      font-size: 16px;
      color: #202D40;
      line-height: 24px;
      text-align: left;
      font-style: normal;
    }
  }

  &-content {
    padding: 10px 24px;
    box-sizing: border-box;

    .form-item-label {
      // height: 22px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #E34D59;
      line-height: 22px;
      text-align: left;
      font-style: normal;
    }

    .form-item-input {
      width: 100%;
      height: 32px;
      background: #FFFFFF;
      border-radius: 3px;
      border: 1px solid #D9D9D9;
    }
  }

  &-footer {
    margin-top: 48px;
    height: 64px;
    padding: 16px 24px;
    text-align: right;
    box-sizing: border-box;

    .footer-cancel {
      margin-right: 24px;
      width: 80px;
      height: 32px;
      border-radius: 3px;
      border: 1px solid #DCDEE1;

      span {
        width: 28px;
        height: 22px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #687181;
        line-height: 22px;
        text-align: center;
        font-style: normal;
      }
    }

    .footer-ok {
      width: 80px;
      height: 32px;
      background: #202D40;
      border-radius: 3px;

      span {
        width: 28px;
        height: 22px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 22px;
        text-align: center;
        font-style: normal;
      }
    }
  }
}

.tree-node-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.tree-node-actions {
  display: none;
  flex-direction: row;
  align-items: center;
}

.tree-node.expanded .tree-node-actions {
  display: flex;
}

.tree-node.expanded .tree-node-title span:last-child {
  display: none;
}

.tree-title {
  padding: 0 8px;
  width: 100%;
}